$color-white: #fff;
$color-black: #000;
$color-dark-gray: #444;
$color-light-gray: #777;
$color-border: #ddd;
$color-pink: #e15d60;
$color-light-pink: #fef0f0;

$font-sm: 0.85rem;
$font-md: 1rem;
$font-lg: 1.5rem;

$radius-sm: 6px;
$radius-md: 12px;
$radius-full: 999px;

$space-xs: 0.3rem;
$space-sm: 0.6rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 4rem;

$shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
$shadow-lg: 0 0 10px rgba(0, 0, 0, 0.425);

$transition: all 0.4s ease-in-out;