@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

header {
  display: grid;
  grid-template-areas: "logo nav right";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 1px solid #ddd;
  gap: 0.6rem;
  padding: 1rem 2rem;
}
@media (max-width: 1200px) {
  header {
    grid-template-areas: "logo logo right" "nav nav nav";
  }
}
header .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
header .logo img {
  width: 32px;
}
header .logo span {
  font-size: 1rem;
  color: #e15d60;
  font-weight: 600;
}
@media (max-width: 768px) {
  header .logo span {
    display: none;
  }
}
header nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 992px) {
  header nav {
    display: none;
  }
}
header nav a {
  color: #000;
  font-weight: 500;
}
header .right {
  grid-area: right;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
header .right a {
  font-size: 0.85rem;
  color: #000;
}
@media (max-width: 576px) {
  header .right .home-text {
    display: none;
  }
}
header .right .btn {
  background: none;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
}
header .right .btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow: auto;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}
.filter-section::-webkit-scrollbar {
  display: none;
}
.filter-section .filter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  color: #777;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
}
.filter-section .filter-item i {
  font-size: 1.5rem;
  margin: 0.3rem;
}
.filter-section .filter-item:hover {
  color: #000;
  font-weight: 700;
}
.filter-section .filter-button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  border: 1px solid #ddd;
  padding: 0.6rem 1rem;
  border-radius: 0.85rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.filter-section .filter-button:hover {
  background-color: #f7f7f7;
}

.cards-section {
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.cards-section .card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  cursor: pointer;
}
.cards-section .card-image {
  position: relative;
  width: 100%;
  border-radius: 12px;
}
.cards-section .card-image:hover img {
  scale: 1.03;
}
.cards-section .card-image img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}
.cards-section .card-image .favorite-label {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  background-color: #fff;
  font-size: 0.85rem;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  font-size: 0.85rem;
  color: #444;
}